<template>
  <div>
    <Preloader :isshow="isLoadingShow" color="blue" />

    <!-- page-wrapper Start-->
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 p-0">
          <div class="login-card">
            <div>
              <div>
                <a class="logo">
                  <img
                    class="img-fluid for-light"
                    width="150px"
                    src="https://upload.wikimedia.org/wikipedia/id/thumb/9/90/MNC_logo_2015.svg/1200px-MNC_logo_2015.svg.png"
                    alt="looginpage"
                  />
                  <img
                    class="img-fluid for-dark"
                    src="../../assets/images/logo/logo_dark.png"
                    alt="looginpage"
                  />
                </a>
              </div>
              <div class="login-main">
                <b-card no-body>
                  <b-tabs pills vertical>
                    <b-tab active>
                      <template #title>
                        <i class="fa fa-key" style="color: black"></i>
                        <span>LDAP Login</span>
                      </template>
                      <b-card-text>
                        <form class="theme-form" @submit.prevent="handleSubmit">
                          <h4>Sign in to account</h4>
                          <p>Enter your email & password to login</p>
                          <div class="form-group">
                            <label class="col-form-label">Email Address</label>
                            <input
                              v-model="email"
                              class="form-control"
                              type="text"
                              required=""
                              placeholder="muhammad.arisandi@mncgroup.com"
                              :class="{
                                'is-invalid': submitted && !email,
                              }"
                            />
                            <div
                              v-show="submitted && !email"
                              class="invalid-feedback"
                            >
                              Email is required
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-form-label">Password</label>
                            <input
                              v-model="password"
                              autocomplete=""
                              class="form-control"
                              :type="type"
                              name="login[password]"
                              required=""
                              placeholder="*********"
                              :class="{
                                'is-invalid': submitted && !email,
                              }"
                            />
                            <div
                              v-show="submitted && !password"
                              class="invalid-feedback"
                            >
                              Email is required
                            </div>
                            <div class="show-hide" @click="showPassword">
                              <span class="show"></span>
                            </div>
                          </div>

                          <div class="form-group mb-0">
                            <button
                              class="btn btn-primary btn-block"
                              type="submit"
                            >
                              Login
                            </button>
                          </div>
                        </form>
                      </b-card-text>
                    </b-tab>
                  </b-tabs>
                </b-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- latest jquery-->
  </div>
</template>

<script>
import Preloader from "../common/preloader";
import { mapState, mapGetters } from "vuex";
export default {
  name: "login",
  data() {
    return {
      type: "password",
      email: "",
      password: "",
      username: "",
      submitted: false,
    };
  },
  components: {
    Preloader,
  },
  computed: {
    ...mapState({
      isLoadingShow: (state) => state.authentication.is_loading_show,
      message: (state) => state.authentication.message,
      message_type: (state) => state.authentication.message_type,
    }),
    ...mapGetters({}),
  },

  created() {
    // reset login status for JWT
    this.$store.commit("authentication/logout");

    //check login from BBA / auto login from BBA
    let url_string = location.href;
    var url = new URL(url_string);
    var bba_username = url.searchParams.get("bbau");
    var bba_password = url.searchParams.get("bbap");
    if (bba_username && bba_password) {
      this.email = bba_username;
      this.password = bba_password;
      setTimeout(() => {
        const { email, password } = this;
        const { dispatch } = this.$store;
        dispatch("authentication/login", { email, password });
      }, 1500);
    }
  },

  methods: {
    // JWT authentication
    handleSubmit(e) {
      this.submitted = true;
      const { email, password } = this;
      const { dispatch } = this.$store;
      dispatch("authentication/login", { email, password });
    },

    // show/hide password
    showPassword: function () {
      if (this.type === "password") {
        this.type = "text";
      } else {
        this.type = "password";
      }
    },
  },

  watch: {
    message(newValue, oldValue) {
      this.showToast(this.message, this.message_type);
      this.$store.commit("authentication/clearMessage");
    },
  },
};
</script>