<template>
  <div>
    <Breadcrumbs :title="breadCrumbTitle" />
    <Preloader :isshow="isLoadingShow" color="blue" />

    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <b-form
                class="needs-validation theme-form datepicker-responsive"
                @submit.prevent="handleSubmitUpdate"
              >
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label>Fullname</label>
                      <b-form-input
                        required
                        v-model="fullname"
                        type="text"
                      ></b-form-input>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label>Email</label>
                      <b-form-input
                        readonly
                        v-model="email"
                        type="email"
                      ></b-form-input>
                    </div>
                  </div>
                </div>

               
               
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label>Old Password</label>
                      <b-form-input
                        required
                        v-model="old_password"
                        type="password"
                      ></b-form-input>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label>New Password</label>
                      <b-form-input
                        required
                        v-model="new_password"
                        type="password"
                      ></b-form-input>
                    </div>
                  </div>
                </div>

                <b-button
                  id="default-primary"
                  type="submit"
                  class="btn-pill btn-air-primary"
                  variant="primary"
                  >Update</b-button
                >
              </b-form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Container-fluid Ends-->
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import Preloader from "@/pages/common/preloader";

export default {
  name: "userProfile",
  data() {
    return {
      isLoadingShow: false,
      breadCrumbTitle: "",

      format: "dd-MM-yyyy",
      disabledDates: {
        days: [6, 0],
      },

      programDisabled: true,

      //add deviation
      id: "",
      fullname: "",
      email: "",
      old_password: "",
      new_password: "",
    };
  },
  computed: {
    ...mapState({}),
    ...mapGetters({
      getUser: "authentication/getUser",
    }),
  },
  created() {
    this.breadCrumbTitle = this.$route.meta.title;
  },
  mounted() {
    this.id = this.getUser.id
    this.email = this.getUser.email
    this.fullname = this.getUser.fullname
  },
  methods: {
    labelProgram({ film_poc_title, start_time_str }) {
      return `${film_poc_title} – ${start_time_str}`;
    },

    handleSubmitUpdate(e) {
      const { dispatch } = this.$store;

      let payload = {
        id: this.id,
        fullname: this.fullname,
        old_password: this.old_password,
        new_password: this.new_password,
      };

      this.isLoadingShow = true;

      dispatch("authentication/updateProfile", payload)
        .then((data) => {
          let msg = data.msg;
          this.showAlertSuccess(msg);
          this.isLoadingShow = false;
          this.old_password = ""
          this.new_password = ""
        })
        .catch((e) => {
          let msg = this.getMessageAPIError(e);
          this.showAlertError(msg);
          this.isLoadingShow = false;
        });
    },
  },
  components: {
    Preloader,
  },
  watch: {},
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>