<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" title="SANDS App">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" title="ADR App" >
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <title>SANDS App</title>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="https://cdn.auth0.com/w2/auth0-7.4.min.js"></script>
    <!-- sands, 2022-04-21 add hrf base -->
    <base href="<%= htmlWebpackPlugin.files.publicPath %>"> 
  </head>
  <body>
    <noscript>
      <strong>We're sorry but This App vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>

<!-- Created By Sands 2022 -->
<!-- PWA Source : https://github.com/stetrevor/vuejs-pwa-demo -->