<template>
  <div>
    <div :key="renderKey" role="group" class="btn-group-pill btn-group">
      <button
        v-if="isLastMenu == false"
        type="button"
        class="btn btn-sm btn-primary"
        @click="downMenu"
      >
        <i class="fa fa-angle-down"></i>
      </button>
      <button
        v-if="isFirstMenu == false"
        type="button"
        class="btn btn-sm btn-primary"
        @click="upMenu"
      >
        <i class="fa fa-angle-up"></i>
      </button>
      <button
        type="button"
        v-if="isParentMenu == false && isFirstMenu == false"
        class="btn btn-sm btn-primary"
        @click="mergeUpMenu"
      >
        <i class="fa fa-level-up"></i>
      </button>
      <button
        type="button"
        v-if="isParentMenu == true"
        class="btn btn-sm btn-primary"
        @click="mergeDownMenu"
      >
        <i class="fa fa-level-down"></i>
      </button>
      <button type="button" class="btn btn-sm btn-success" @click="editMenu">
        <i class="fa fa-edit"></i>
      </button>
      <button type="button" class="btn btn-sm btn-danger" @click="deleteMenu">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</template>

<script>
// import json from "../data/menu_superadmin";
import { mapGetters } from "vuex";

export default {
  name: "menusbutton",
  props: ["idMenu", "parentIdMenu", "parentSeq", "seqMenu"],
  computed: {
    ...mapGetters({
      getBuildMenus: "menu/getBuildMenus",
    }),
  },
  data() {
    return {
      renderKey: 0,
      isFirstMenu: false,
      isLastMenu: false,
      isParentMenu: false,
      payload: {},
    };
  },
  mounted() {
    this.initPositionBtn();

    //set payload
    this.payload = {
      id_menu: this.idMenu,
      parent_id_menu: this.parentIdMenu != "" ? this.parentIdMenu : null,
      parent_seq: this.parentSeq >= 0 ? this.parentSeq : null,
      seq_menu: this.seqMenu,
    };
  },
  methods: {
    initPositionBtn() {
      let menuSelected = null;

      //check parent menu
      if ((typeof this.parentSeq == "undefined") == false) {
        let parentMenu = this.getBuildMenus[this.parentSeq];
        let childExist = Object.keys(parentMenu).indexOf(this.seqMenu);
        if (childExist !== -1) {
          menuSelected = parentMenu.children[this.seqMenu];
        }

        this.isParentMenu = true;
      } else {
        menuSelected = this.getBuildMenus[this.seqMenu];

        this.isParentMenu = false;
      }

      let lastSeq = menuSelected != null ? menuSelected.last_seq : null;

      this.isFirstMenu = false;
      this.isLastMenu = false;

      if (this.seqMenu == 1) {
        this.isFirstMenu = true;
      }
      if (this.seqMenu == lastSeq) {
        this.isLastMenu = true;
      }
    },
    upMenu() {
      this.$emit("up-menu", this.payload);
    },
    downMenu() {
      this.$emit("down-menu", this.payload);
    },
    mergeUpMenu() {
      this.$emit("merge-up-menu", this.payload);
    },
    mergeDownMenu() {
      this.$emit("merge-down-menu", this.payload);
    },
    editMenu() {
      this.$emit("edit-menu", this.payload);
    },
    deleteMenu() {
      this.$emit("delete-menu", this.payload);
    },
  },
  watch: {
    getBuildMenus(newValue, oldValue) {
      this.renderKey++;
      this.initPositionBtn();
    },
  },
};
</script>
