<template>
  <div>
    <Breadcrumbs :title="breadCrumbTitle" />

    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Authorization Management</h5>
            </div>
            <div class="card-body default-according style-1">
              <b-card no-body class="mb-3">
                <b-card-header header-tag="div" class="bg-primary">
                  <h5 class="mb-0">
                    <b-button v-b-toggle.primary_icon_open_close_1
                      ><i class="fa fa-search"></i>
                      Filter By Role
                    </b-button>
                  </h5>
                </b-card-header>
                <b-collapse
                  id="primary_icon_open_close_1"
                  visible
                  accordion="my-accordion-icon-open-close"
                  role="tabpanel"
                >
                  <b-card-body>
                    <div class="col-md-12 mb-3">
                      <b-form-select
                        required
                        v-model="role"
                        @change="handlerChangeRole()"
                      >
                        <option :value="null" disabled>
                          -- Please select an option --
                        </option>
                        <option v-for="option in getRoles" :value="option.id">
                          {{ option.name }}
                        </option>
                      </b-form-select>
                    </div>
                  </b-card-body>
                </b-collapse>
              </b-card>

              <b-row>
                <b-col md="6">
                  <b-input-group class="datatable-btn">
                    <b-form-input
                      v-model="filter"
                      placeholder="Type to Search"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button :disabled="!filter" @click="filter = ''"
                        >Clear</b-button
                      >
                    </b-input-group-append>
                  </b-input-group>
                </b-col>

                <b-col md="6">
                  <b-form-group
                    label-cols="2"
                    label="Per page"
                    class="mb-0 datatable-select"
                  >
                    <b-form-select
                      v-model="perPage"
                      :options="pageOptions"
                    ></b-form-select>
                  </b-form-group>
                </b-col>
              </b-row>

              <div class="table-responsive datatable-vue">
                <b-table
                  show-empty
                  stacked="md"
                  :items="getAuthorization"
                  :fields="tablefields"
                  :filter="filter"
                  :current-page="currentPage"
                  :per-page="perPage"
                  @filtered="onFiltered"
                >
                  <template #cell(checked_show)="row">
                    <div class="checkbox">
                      <b-form-checkbox
                        @change="
                          handlerChecklistPermission(
                            $event,
                            role,
                            row.item.show
                          )
                        "
                        :disabled="row.item.show < 1"
                        :checked="row.item.show_bool == 1"
                        class="checkbox-solid-success"
                      >
                      </b-form-checkbox>
                    </div>
                  </template>
                  <template #cell(checked_create)="row">
                    <div class="checkbox">
                      <b-form-checkbox
                        @change="
                          handlerChecklistPermission(
                            $event,
                            role,
                            row.item.create
                          )
                        "
                        :disabled="row.item.create < 1"
                        :checked="row.item.create_bool == 1"
                        class="checkbox-solid-success"
                      >
                      </b-form-checkbox>
                    </div>
                  </template>
                  <template #cell(checked_update)="row">
                    <div class="checkbox">
                      <b-form-checkbox
                        @change="
                          handlerChecklistPermission(
                            $event,
                            role,
                            row.item.update
                          )
                        "
                        :disabled="row.item.update < 1"
                        :checked="row.item.update_bool == 1"
                        class="checkbox-solid-success"
                      >
                      </b-form-checkbox>
                    </div>
                  </template>
                  <template #cell(checked_delete)="row">
                    <div class="checkbox">
                      <b-form-checkbox
                        @change="
                          handlerChecklistPermission(
                            $event,
                            role,
                            row.item.delete
                          )
                        "
                        :disabled="row.item.delete < 1"
                        :checked="row.item.delete_bool == 1"
                        class="checkbox-solid-success"
                      >
                      </b-form-checkbox>
                    </div>
                  </template>
                </b-table>
              </div>

              <b-col md="6" class="my-1">
                <b-pagination
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  class="my-0"
                ></b-pagination>
              </b-col>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  name: "authorization",
  data() {
    return {
      idSelected: 0,
      titleModal: "",
      breadCrumbTitle: "",

      tablefields: [
        { key: "name", label: "Module", sortable: true },
        { key: "checked_create", label: "Create", sortable: false },
        { key: "checked_show", label: "Read", sortable: false },
        { key: "checked_update", label: "Update", sortable: false },
        { key: "checked_delete", label: "Delete", sortable: false },
      ],
      filter: null,

      role: "",

      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [5, 10, 15],
    };
  },
  computed: {
    ...mapState({
      message: (state) => state.authorization.message,
      message_type: (state) => state.authorization.message_type,
    }),
    ...mapGetters({
      getAuthorization: "authorization/getAuthorization",
      getRoles: "role/getRoles",
    }),
  },
  created() {
    this.$store.dispatch("role/fetchRoles");
    this.breadCrumbTitle = this.$route.meta.title;
  },
  mounted() {
    this.totalRows = this.getAuthorization.length;
  },
  methods: {
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    handlerChangeRole() {
      const { dispatch } = this.$store;
      let payload = {
        role_id: this.role,
      };
      dispatch("authorization/fetchAuthorizationList", payload);
    },

    handlerChecklistPermission(ev, role_id, permission_id) {
      let isChecked = ev;
      const { dispatch } = this.$store;
      let payload = {
        role_id: role_id,
        permission_id: permission_id,
      };
      if (true == isChecked) {
        dispatch("authorization/attachPermission", payload);
      } else {
        dispatch("authorization/detachPermission", payload);
      }
    },
  },
  watch: {
    message(newValue, oldValue) {
      this.showToast(this.message, this.message_type);
      this.$store.commit("authorization/clearMessage");
    },
  },
};
</script>