<template>
  <div>
    <Preloader :isshow="isLoadingShow" color="blue" />
    <Breadcrumbs :title="breadCrumbTitle" />

    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">
                Menus Management (##### On Development)
              </h5>
            </div>
            <div class="card-body">
              <b-row>
                <b-col md="6">
                  <b-button
                    id="default-sm-light"
                    variant="primary"
                    class="btn-pill mb-3"
                    size="sm"
                    @click="handleSubmitSave()"
                    >Save Menu</b-button
                  >
                </b-col>
              </b-row>

              <b-row>
                <b-col md="8">
                  <div class="list-group">
                    <a
                      v-for="menu in getBuildMenus"
                      href="#"
                      target="_self"
                      class="
                        list-group-item
                        flex-column
                        align-items-start
                        list-group-item-action
                      "
                    >
                      <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1 font-weight-bold">
                          <button
                            v-if="
                              menu.hasOwnProperty('children') == true &&
                              Object.keys(menu['children']).length > 0
                            "
                            type="button"
                            @click="openSubMenu(menu)"
                            class="btn btn-xs btn-primary"
                          >
                            <i class="fa fa-plus"></i>
                          </button>
                          {{ menu.display_name }}
                        </p>
                        <div>
                          <MenusButton
                            :idMenu="menu.id"
                            :seqMenu="menu.seq"
                            @up-menu="upMenu"
                            @down-menu="downMenu"
                            @merge-up-menu="mergeUpMenu"
                            @delete-menu="deleteMenu"
                            @edit-menu="editMenu"
                          />
                        </div>
                      </div>

                      <div
                        :id="`subMenu-${menu.id}`"
                        style="
                          padding-left: 15px;
                          padding-top: 20px;
                          display: none;
                        "
                        v-if="menu.hasOwnProperty('id') == true"
                      >
                        <div
                          class="mb-2 d-flex w-100 justify-content-between"
                          v-for="childmenu in menu.children"
                        >
                          <p class="mb-1 font-weight-bold">
                            {{ childmenu.display_name }}
                          </p>
                          <div>
                            <MenusButton
                              :idMenu="childmenu.id"
                              :seqMenu="childmenu.seq"
                              :parentIdMenu="childmenu.parent_id"
                              :parentSeq="childmenu.parent_seq"
                              @up-menu="upMenu"
                              @down-menu="downMenu"
                              @merge-up-menu="mergeUpMenu"
                              @merge-down-menu="mergeDownMenu"
                              @delete-menu="deleteMenu"
                              @edit-menu="editMenu"
                            />
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </b-col>

                <b-col md="4">
                  <div class="card border-primary mb-3">
                    <div class="card-header bg-primary text-white">
                      {{ formHeaderTitle }}
                    </div>
                    <div class="card-body">
                      <form id="frmEdit" class="form-horizontal">
                        <div class="form-group">
                          <label for="text">Name</label>
                          <input
                            type="text"
                            class="form-control item-menu"
                            name="name"
                            v-model="name"
                            placeholder="Name"
                          />
                        </div>

                        <div class="form-group">
                          <label for="title">Display Name</label>
                          <input
                            type="text"
                            name="display_name"
                            class="form-control item-menu"
                            v-model="display_name"
                            placeholder="Display Name"
                          />
                        </div>

                        <div class="form-group">
                          <label for="title">Icon (class)</label>
                          <input
                            type="text"
                            name="icon"
                            class="form-control item-menu"
                            v-model="icon"
                            placeholder="Class Icon"
                          />
                        </div>

                        <div class="form-group">
                          <label for="url">URL {{ originUrl }}/... </label>
                          <input
                            type="text"
                            name="url"
                            class="form-control item-menu"
                            v-model="url"
                            placeholder="URL"
                          />
                        </div>

                        <div class="form-group">
                          <label for="permission">Permission</label>
                          <select
                            name="permission_id"
                            v-model="permission_id"
                            class="item-menu form-control"
                          >
                            <option value="" selected disabled>
                              == Pilih ==
                            </option>
                            <option
                              v-for="item in getPermissionShow"
                              :value="item.id"
                            >
                              {{ item.display_name }}
                            </option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="permission">Status Active</label>
                          <select
                            name="status_active"
                            v-model="status_active"
                            class="item-menu form-control"
                          >
                            <option
                              v-for="item in statusOptions"
                              :value="item.value"
                            >
                              {{ item.text }}
                            </option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="permission">Type</label>
                          <select
                            name="type"
                            v-model="type"
                            class="item-menu form-control"
                          >
                            <option
                              v-for="item in typeOptions"
                              :value="item.value"
                            >
                              {{ item.text }}
                            </option>
                          </select>
                        </div>

                        <div class="form-group" v-show="isRoleShow">
                          <label for="permission">Pick Role</label>

                          <div class="checkbox">
                            <div
                              v-for="role in getRoles"
                              v-on:click="checkRoleMenu(role.id, $event)"
                            >
                              <b-form-checkbox
                                class="checkbox-solid-primary"
                                type="checkbox"
                                :checked="role.is_check ? role.id : 0"
                                :value="role.id"
                              >
                                {{ role.name }}
                              </b-form-checkbox>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="card-footer">
                      <button
                        type="button"
                        @click="updateMenu"
                        class="btn btn-primary mr-2"
                        :disabled="updateBtnDisabled"
                      >
                        <i class="fa fa-refresh"></i> Update
                      </button>
                      <button
                        @click="addMenu"
                        type="button"
                        :disabled="createBtnDisabled"
                        class="btn btn-success"
                      >
                        <i class="fa fa-plus"></i> Add
                      </button>
                      <button
                        type="button"
                        @click="cancelForm"
                        class="btn btn-danger mt-2"
                        v-show="cancelBtnShow"
                      >
                        <i class="fa fa-close"></i> Cancel
                      </button>
                    </div>
                  </div>
                </b-col>
              </b-row>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import MenusButton from "@/components/menus_button";
import Preloader from "@/pages/common/preloader";

export default {
  name: "menus",
  data() {
    return {
      breadCrumbTitle: "",
      originUrl: window.location.protocol + "//" + window.location.host,
      isLoadingShow: false,
      updateBtnDisabled: true,
      createBtnDisabled: false,
      isRoleShow: false,
      cancelBtnShow: false,
      formHeaderTitle: "Create item",

      //form data
      id_selected: "",
      name: "",
      display_name: "",
      icon: "",
      url: "",
      permission_id: "",
      parent_seq: "",
      seq: "",
      status_active: "",
      type: "",

      statusOptions: [
        { value: 1, text: "Active" },
        { value: 2, text: "Non Active" },
      ],
      typeOptions: [
        { value: "sub", text: "Sub (Parent Menu)" },
        { value: "link", text: "Link" },
      ],
    };
  },
  components: {
    MenusButton,
    Preloader,
  },
  computed: {
    ...mapState({}),
    ...mapGetters({
      getRoleMenusByIdMenu: "menu/getRoleMenusByIdMenu",
      getMenus: "menu/getMenus",
      getBuildMenus: "menu/getBuildMenus",
      getPermissionShow: "authorization/getPermissionShow",
      getRoles: "role/getRoles",
    }),
  },
  created() {
    this.$store.dispatch("menu/fetchMenus");
    this.breadCrumbTitle = this.$route.meta.title;
  },
  mounted() {
    console.log(this.sands);
    this.getPermissions();
    this.fetchRoles();
    this.menusBuild = this.getMenus;
  },
  methods: {
    handleSubmitSave() {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        showCancelButton: true,
        confirmButtonText: "Yes Save It!",
        confirmButtonColor: "#4466f2",
        cancelButtonText: "Cancel",
        cancelButtonColor: "#4466f2",
      }).then((result) => {
        if (result.value) {
          let payload = {
            menus: JSON.stringify(this.getBuildMenus),
          };
          this.isLoadingShow = true;
          const { dispatch } = this.$store;
          dispatch("menu/saveMenu", payload)
            .then((data) => {
              if (data.status == true) {
                this.isLoadingShow = false;
                this.showAlertSuccess(data.msg);
              }
            })
            .catch((e) => {
              let msg = this.getMessageAPIError(e);
              this.showAlertError(msg);
              this.isLoadingShow = false;
            });
        }
      });
    },
    upMenu(payload) {
      const { dispatch } = this.$store;
      dispatch("menu/moveUpMenu", payload);
    },
    downMenu(payload) {
      const { dispatch } = this.$store;
      dispatch("menu/moveDownMenu", payload);
    },
    mergeUpMenu(payload) {
      const { dispatch } = this.$store;
      dispatch("menu/mergeUpMenu", payload);
    },
    mergeDownMenu(payload) {
      const { dispatch } = this.$store;
      dispatch("menu/mergeDownMenu", payload);
    },
    deleteMenu(payload) {
      const { dispatch } = this.$store;
      dispatch("menu/deleteMenu", payload);
    },
    editMenu(payload) {
      this.formHeaderTitle = "Edit item";
      this.updateBtnDisabled = false;
      this.cancelBtnShow = true;
      this.createBtnDisabled = true;
      this.isRoleShow = true;

      let menuSelected =
        payload.parent_id_menu > 0
          ? this.getBuildMenus[payload.parent_seq].children[payload.seq_menu]
          : this.getBuildMenus[payload.seq_menu];

      this.name = menuSelected.name;
      this.display_name = menuSelected.display_name;
      this.icon = menuSelected.icon;
      this.url = menuSelected.url;
      this.permission_id = menuSelected.permission_id;
      this.parent_seq = menuSelected.parent_seq;
      this.seq = menuSelected.seq;
      this.id_selected = menuSelected.id;
      this.status_active = menuSelected.status_active;
      this.type = menuSelected.type;

      console.log(menuSelected);

      this.getRoleMenu(menuSelected.id);
    },
    updateMenu() {
      this.updateBtnDisabled = true;

      let payload = {
        name: this.name,
        display_name: this.display_name,
        icon: this.icon,
        url: this.url,
        permission_id: this.permission_id,
        seq: this.seq,
        type: this.type,
        status_active: this.status_active,
        parent_seq: this.parent_seq >= 0 ? this.parent_seq : null,
      };

      this.isLoadingShow = true;
      const { dispatch } = this.$store;
      dispatch("menu/updateMenu", payload)
        .then(() => {
          this.isLoadingShow = false;
        })
        .catch((e) => {
          let msg = this.getMessageAPIError(e);
          this.showAlertError(msg);
          this.isLoadingShow = false;
        });

      //clear
      this.name = "";
      this.display_name = "";
      this.icon = "";
      this.url = "";
      this.permission_id = "";
      this.parent_seq = "";
      this.seq = "";
      this.status_active = "";
      this.type = "";
    },
    addMenu() {
      this.updateBtnDisabled = true;

      let payload = {
        name: this.name,
        display_name: this.display_name,
        icon: this.icon,
        url: this.url,
        type: this.type,
        status_active: this.status_active,
        permission_id: this.permission_id,
      };

      this.isLoadingShow = true;
      const { dispatch } = this.$store;
      dispatch("menu/addMenu", payload)
        .then(() => {
          this.isLoadingShow = false;
        })
        .catch((e) => {
          let msg = this.getMessageAPIError(e);
          this.showAlertError(msg);
          this.isLoadingShow = false;
        });

      //clear
      this.name = "";
      this.display_name = "";
      this.icon = "";
      this.url = "";
      this.permission_id = "";
    },
    openSubMenu(menu) {
      let id = menu.id;
      let idName = `subMenu-${id}`;
      var objSubMenu = document.getElementById(idName);
      if (objSubMenu.style.display === "none") {
        objSubMenu.style.display = "block";
      } else {
        objSubMenu.style.display = "none";
      }
    },
    getPermissions() {
      const { dispatch } = this.$store;
      this.isLoadingShow = true;
      dispatch("authorization/fetchAuthorizationAll")
        .then((data) => {
          if (data.status == true) {
            this.isLoadingShow = false;
          }
        })
        .catch((e) => {
          let msg = this.getMessageAPIError(e);
          this.showAlertError(msg);
          this.isLoadingShow = false;
        });
    },
    fetchRoles() {
      const { dispatch } = this.$store;
      this.isLoadingShow = true;
      dispatch("role/fetchRoles")
        .then((data) => {
          if (data.status == true) {
            this.isLoadingShow = false;
          }
        })
        .catch((e) => {
          let msg = this.getMessageAPIError(e);
          this.showAlertError(msg);
          this.isLoadingShow = false;
        });
    },
    cancelForm() {
      this.formHeaderTitle = "Create item";
      this.cancelBtnShow = false;
      this.createBtnDisabled = false;
      this.updateBtnDisabled = true;
      this.isRoleShow = false;

      this.name = "";
      this.display_name = "";
      this.icon = "";
      this.url = "";
      this.permission_id = "";
      this.parent_seq = "";
      this.seq = "";
    },
    getRoleMenu(menu_id = null) {
      let payload = {
        id: menu_id,
      };

      this.isLoadingShow = true;
      const { dispatch } = this.$store;
      dispatch("menu/fetchRoleMenu", payload)
        .then((data) => {
          let msg = data.msg;
          let datas = data.data;
          if (data.status == true) {
            this.isLoadingShow = false;
            let roles = this.getRoles;
            roles.forEach((el) => {
              el.is_check = false;
              for (let elRoleMenu of datas) {
                if (el.id == elRoleMenu.role_id) {
                  el.is_check = true;
                  break;
                }
              }
            });
          }
        })
        .catch((e) => {
          let msg = this.getMessageAPIError(e);
          this.showAlertError(msg);
          this.isLoadingShow = false;
        });
    },
    checkRoleMenu(role_id = null, ev) {
      let payload = {
        role_id: role_id,
        id: this.id_selected,
      };

      let isCheck = null;

      if (ev.target.checked == true) {
        isCheck = true;
        payload.is_check = isCheck;
      } else if (ev.target.checked == false) {
        isCheck = false;
        payload.is_check = isCheck;
      }

      if (isCheck != null) {
        this.isLoadingShow = true;
        const { dispatch } = this.$store;
        dispatch("menu/checkRoleMenu", payload)
          .then((data) => {
            let msg = data.msg;
            if (data.status == true) {
              this.showToast(msg, "success");
              this.isLoadingShow = false;
            }
          })
          .catch((e) => {
            let msg = this.getMessageAPIError(e);
            this.showAlertError(msg);
            this.isLoadingShow = false;
          });
      }
    },
  },
  watch: {},
};
</script>