<template>
  <div>
    <Breadcrumbs :title="breadCrumbTitle" />

    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Occupation Management</h5>
            </div>
            <div class="card-body">
              <b-row>
                <b-col md="6">
                  <b-button
                    @click="addShow"
                    id="default-sm-light"
                    variant="primary"
                    class="btn-pill mb-3"
                    size="sm"
                    >Add Occupation</b-button
                  >
                </b-col>
              </b-row>

              <b-row>
                <b-col md="6">
                  <b-input-group class="datatable-btn">
                    <b-form-input
                      v-model="filter"
                      placeholder="Type to Search"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button :disabled="!filter" @click="filter = ''"
                        >Clear</b-button
                      >
                    </b-input-group-append>
                  </b-input-group>
                </b-col>

                <b-col md="6">
                  <b-form-group
                    label-cols="2"
                    label="Per page"
                    class="mb-0 datatable-select"
                  >
                    <b-form-select
                      v-model="perPage"
                      :options="pageOptions"
                    ></b-form-select>
                  </b-form-group>
                </b-col>
              </b-row>

              <div class="table-responsive datatable-vue">
                <b-table
                  show-empty
                  stacked="md"
                  :items="getOccupation"
                  :fields="tablefields"
                  :filter="filter"
                  :current-page="currentPage"
                  :per-page="perPage"
                  @filtered="onFiltered"
                >
                  <template #cell(status)="row">
                    <b-badge variant="primary" v-if="row.item.status == 1"
                      >Active</b-badge
                    >
                    <b-badge variant="danger" v-if="row.item.status != 1"
                      >Non Active</b-badge
                    >
                    <!-- @click="info(row.item, row.index, $event.target)" -->
                  </template>
                  <template #cell(actions)="row">
                    <b-button
                      variant="success"
                      @click="updateShow(row.item)"
                      class="btn-pill"
                      size="xs"
                      >Update</b-button
                    >
                    <b-button
                      variant="danger"
                      @click="handleDelete(row.item.id)"
                      class="btn-pill ml-2"
                      size="xs"
                      >Delete</b-button
                    >
                    <!-- @click="info(row.item, row.index, $event.target)" -->
                  </template>
                </b-table>
              </div>

              <b-col md="6" class="my-1">
                <b-pagination
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  class="my-0"
                ></b-pagination>
              </b-col>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Modal Add dan Update-->
    <b-modal
      v-model="modalShow"
      id="modal-lg"
      size="lg"
      :title="titleModal"
      hide-footer
      lass="theme-modal"
    >
      <b-form class="needs-validation" @submit.prevent="validateBeforeSubmit">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="role_name">Name</label>
            <b-form-input
              v-model="name"
              type="text"
              required
              placeholder="Name"
            ></b-form-input>
          </div>
          <div class="col-md-6 mb-3">
            <label for="role_name">Status</label>
            <b-form-select
              required
              v-model="status"
              :options="statusOptions"
            ></b-form-select>
          </div>
          <div class="col-md-12 mb-3">
            <label for="browser_username">Description</label>
            <b-form-input
              v-model="description"
              type="text"
              id="role_description"
              placeholder="Description"
            ></b-form-input>
          </div>
        </div>

        <b-button type="submit" variant="primary">
          <span v-if="mode == 'create'">Submit</span>
          <span v-if="mode == 'update'">Update</span>
        </b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  name: "occupation",
  data() {
    return {
      idSelected: 0,
      modalShow: false,
      mode: "create",
      titleModal: "",
      breadCrumbTitle: "",

      tablefields: [
        { key: "name", label: "Name", sortable: true },
        { key: "description", label: "Description", sortable: true },
        { key: "status", label: "Status", sortable: true },
        { key: "actions", label: "Actions" },
      ],
      filter: null,

      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [5, 10, 15],

      statusOptions: [
        { value: 1, text: "Active" },
        { value: 2, text: "Non Active" },
      ],

      //add role
      name: "",
      status: "",
      description: "",
    };
  },
  computed: {
    ...mapState({
      message: (state) => state.occupation.message,
      message_type: (state) => state.occupation.message_type,
    }),
    ...mapGetters({
      getOccupation: "occupation/getOccupation",
    }),
  },
  created() {
    this.$store.dispatch("occupation/fetchOccupation");
    this.breadCrumbTitle = this.$route.meta.title;
  },
  mounted() {
    this.totalRows = this.getOccupation.length;
  },
  methods: {
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    addShow() {
      this.mode = "create";
      this.titleModal = "Create Data";
      this.modalShow = true;

      this.name = "";
      this.status = "";
      this.description = "";
    },
    updateShow(row) {
      this.mode = "update";
      this.titleModal = "Update Data";

      this.name = row.name;
      this.status = row.status;
      this.description = row.description;

      this.idSelected = row.id;
      this.modalShow = true;
    },
    handleDelete(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        showCancelButton: true,
        confirmButtonText: "Yes Delete It!",
        confirmButtonColor: "#4466f2",
        cancelButtonText: "Cancel",
        cancelButtonColor: "#4466f2",
      }).then((result) => {
        if (result.value) {
          const { dispatch } = this.$store;
          let payload = {
            id: id,
          };
          dispatch("occupation/delete", payload);
          this.showAlertSuccess("Delete Success");
        }
      });
    },
    validateBeforeSubmit() {
      this.mode == "create"
        ? this.handleSubmitAdd()
        : this.handleSubmitUpdate();
    },
    handleSubmitAdd(e) {
      this.submitted = true;
      const { dispatch } = this.$store;
      let payload = {
        name: this.name,
        status: this.status,
        description: this.description,
      };

      this.modalShow = false;

      dispatch("occupation/create", payload);
    },
    handleSubmitUpdate(e) {
      this.submitted = true;
      const { dispatch } = this.$store;
      let payload = {
        id: this.idSelected,
        name: this.name,
        status: this.status,
        description: this.description,
      };
      dispatch("occupation/update", payload);
      this.modalShow = false;
    },
  },
  watch: {
    message(newValue, oldValue) {
      this.showToast(this.message, this.message_type);
      this.$store.commit("occupation/clearMessage");
    },
  },
};
</script>