<template>
  <div>
    <Breadcrumbs :title="breadCrumbTitle" />

    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Unit User Access Management</h5>
            </div>
            <div class="card-body">
              <b-row>
                <b-col md="6">
                  <b-input-group class="datatable-btn">
                    <b-form-input
                      @keyup="handleFilter($event.target.value)"
                      :value="filter"
                      placeholder="Type to Search"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button :disabled="!filter" @click="clearFilter"
                        >Clear</b-button
                      >
                    </b-input-group-append>
                  </b-input-group>
                </b-col>

                <b-col md="6">
                  <b-form-group
                    label-cols="2"
                    label="Per page"
                    class="mb-0 datatable-select"
                  >
                    <b-form-select
                      :value="getPerPage"
                      :options="page_options"
                      @change="handlePageLimitChange"
                    ></b-form-select>
                  </b-form-group>
                </b-col>
              </b-row>

              <div class="table-responsive datatable-vue">
                <!-- @filtered="onFiltered" -->
                <!-- :filter="filter" -->
                <!-- :current-page="current_page"
                  :per-page="getPerPage" -->
                <b-table
                  show-empty
                  stacked="md"
                  :items="getUsers"
                  :fields="tablefields"
                >
                  <template #cell(status)="row">
                    <b-badge variant="primary" v-if="row.item.status == 1"
                      >Active</b-badge
                    >
                    <b-badge variant="danger" v-if="row.item.status != 1"
                      >Non Active</b-badge
                    >
                    <!-- @click="info(row.item, row.index, $event.target)" -->
                  </template>
                  <template #cell(actions)="row">
                    <div class="checkbox-animated">
                      <label
                        class="d-block"
                        for="chk-ani"
                        v-for="unit in getUnits"
                      >
                        <input
                          class="checkbox_animated"
                          type="checkbox"
                          :checked="
                            checkUnit(unit.id, row.item.unit_user_access)
                          "
                          @change="
                            handleChangeUnitPerm(row.item.id, unit.id, $event)
                          "
                          :value="unit.id"
                        />
                        {{ unit.code_str }}
                      </label>
                    </div>
                  </template>
                </b-table>
              </div>

              <b-col md="6" class="my-1">
                <b-pagination
                  :value="current_page"
                  @change="handlePageChange"
                  :total-rows="getTotalRows"
                  :per-page="getPerPage"
                  class="my-0"
                ></b-pagination>
              </b-col>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  name: "user",
  data() {
    return {
      breadCrumbTitle: "",
      timeout: null,
      isLoadingShow: false,

      tablefields: [
        { key: "fullname", label: "Name", sortable: true },
        { key: "email", label: "Email", sortable: true },
        { key: "occupation.name", label: "Occupation", sortable: true },
        { key: "department.name", label: "Department", sortable: true },
        { key: "status", label: "Status", sortable: true },
        { key: "actions", label: "Pick Unit Access" },
      ],

      statusOptions: [
        { value: 1, text: "Active" },
        { value: 2, text: "Non Active" },
      ],
    };
  },
  computed: {
    ...mapState({
      page_options: (state) => state.unit_user_access.page_options,
      current_page: (state) => state.unit_user_access.current_page,
      last_page: (state) => state.unit_user_access.last_page,
      filter: (state) => state.unit_user_access.filter,
    }),
    ...mapGetters({
      getUnits: "unit/getUnits",
      getUsers: "unit_user_access/getUsers",
      getPerPage: "unit_user_access/getPerPage",
      getTotalRows: "unit_user_access/getTotalRows",
    }),
  },
  created() {
    this.breadCrumbTitle = this.$route.meta.title;
  },
  mounted() {
    this.$store.dispatch("unit/fetchUnits");
    this.getUserdata();
    this.totalRows = this.getUsers.length;
  },
  methods: {
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    getUserdata(payload) {
      const { dispatch } = this.$store;
      if (typeof payload == "undefined") {
        payload = {
          page: 1,
          search: "",
          limit: this.getPerPage,
        };
      }

      dispatch("unit_user_access/fetchUserUnitAccess", payload);
    },

    clearFilter() {
      this.$store.commit("unit_user_access/changeFilter", "");
      let payload = {
        page: 1,
        search: this.filter,
        limit: this.getPerPage,
      };
      this.getUserdata(payload);
    },

    handleFilter(v) {
      clearTimeout(this.timeout);

      // Make a new timeout set to go off in 800ms
      this.timeout = setTimeout(() => {
        this.$store.commit("unit_user_access/changeFilter", v);
        let payload = {
          page: 1,
          search: this.filter,
          limit: this.getPerPage,
        };
        this.getUserdata(payload);
      }, 800);
    },

    handlePageChange(value) {
      let payload = {
        page: value,
        search: this.filter,
        limit: this.getPerPage,
      };
      this.getUserdata(payload);
    },

    handlePageLimitChange(value) {
      this.$store.commit("unit_user_access/changeLimitPage", value);
      let payload = {
        page: 1,
        search: "",
        limit: this.getPerPage,
      };
      this.getUserdata(payload);
    },

    checkUnit(unit_id, unit_access_have) {
      let checked = false;
      if (unit_access_have.length > 0) {
        unit_access_have.forEach((el) => {
          let unitThis = el.unit_id;
          if (unitThis == unit_id) {
            checked = true;
          }
        });
      }

      return checked;
    },

    handleChangeUnitPerm(user_id, unit_id, event) {
      let is_check = false;
      if (event.target.checked) {
        is_check = true;
      }

      const { dispatch } = this.$store;
      let payload = {
        is_check: is_check,
        user_id: user_id,
        unit_id: unit_id,
      };
      this.isLoadingShow = true;
      dispatch("unit_user_access/changeUnitUserAccess", payload)
        .then((data) => {
          let msg = data.msg;
          if (data.status == true) {
            this.showAlertSuccess(msg);
            this.isLoadingShow = false;
            this.getUserdata();
          }
        })
        .catch((e) => {
          let msg = this.getMessageAPIError(e);
          this.showAlertError(msg);
          this.isLoadingShow = false;
        });
    },
  },
  watch: {},
};
</script>