<template>
  <div>
    <Breadcrumbs :title="breadCrumbTitle" />

    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">User Management</h5>
            </div>
            <div class="card-body">
              <b-row>
                <b-col md="6">
                  <b-button
                    @click="addShow"
                    id="default-sm-light"
                    variant="primary"
                    class="btn-pill mb-3"
                    size="sm"
                    >Add User</b-button
                  >
                </b-col>
              </b-row>

              <b-row>
                <b-col md="6">
                  <b-input-group class="datatable-btn">
                    <b-form-input
                      @keyup="handleFilter($event.target.value)"
                      :value="filter"
                      placeholder="Type to Search"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button :disabled="!filter" @click="clearFilter"
                        >Clear</b-button
                      >
                    </b-input-group-append>
                  </b-input-group>
                </b-col>

                <b-col md="6">
                  <b-form-group
                    label-cols="2"
                    label="Per page"
                    class="mb-0 datatable-select"
                  >
                    <b-form-select
                      :value="getPerPage"
                      :options="page_options"
                      @change="handlePageLimitChange"
                    ></b-form-select>
                  </b-form-group>
                </b-col>
              </b-row>

              <div class="table-responsive datatable-vue">
                <!-- @filtered="onFiltered" -->
                <!-- :filter="filter" -->
                <!-- :current-page="current_page"
                  :per-page="getPerPage" -->
                <b-table
                  show-empty
                  stacked="md"
                  :items="getUsers"
                  :fields="tablefields"
                >
                  <template #cell(status)="row">
                    <b-badge variant="primary" v-if="row.item.status == 1"
                      >Active</b-badge
                    >
                    <b-badge variant="danger" v-if="row.item.status != 1"
                      >Non Active</b-badge
                    >
                    <!-- @click="info(row.item, row.index, $event.target)" -->
                  </template>
                  <template #cell(actions)="row">
                    <b-button
                      variant="success"
                      @click="updateShow(row.item)"
                      class="btn-pill"
                      size="xs"
                      >Update</b-button
                    >

                    <b-button
                      v-if="getUser.role_name == 'super-admin'"
                      variant="danger"
                      @click="handleDelete(row.item.id)"
                      class="btn-pill ml-2"
                      size="xs"
                      v-show="row.item.roles[0].id != 1"
                      >Delete</b-button
                    >
                    <!-- @click="info(row.item, row.index, $event.target)" -->
                  </template>
                </b-table>
              </div>

              <b-col md="6" class="my-1">
                <b-pagination
                  :value="current_page"
                  @change="handlePageChange"
                  :total-rows="getTotalRows"
                  :per-page="getPerPage"
                  class="my-0"
                ></b-pagination>
              </b-col>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Modal Add dan Update-->
    <b-modal
      v-model="modalShow"
      id="modal-lg"
      size="lg"
      :title="titleModal"
      hide-footer
      lass="theme-modal"
    >
      <b-form class="needs-validation" @submit.prevent="validateBeforeSubmit">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="role_name">Name</label>
            <b-form-input
              v-model="name"
              type="text"
              required
              placeholder="Name"
            ></b-form-input>
          </div>
          <div class="col-md-6 mb-3">
            <label for="role_name">Username</label>
            <b-form-input
              v-model="username"
              type="text"
              required
              placeholder="Ex: muhammad.arisandi"
            ></b-form-input>
          </div>
          <div class="col-md-6 mb-3">
            <label for="role_name">Email</label>
            <b-form-input
              v-model="email"
              type="email"
              required
              placeholder="Ex: muhammad.arisandi@mncgroup.com"
            ></b-form-input>
          </div>
          <div class="col-md-6 mb-3" v-show="departmentShow">
            <label>Department</label>
            <b-form-select v-model="department_id">
              <option :value="null" disabled>
                -- Please select an option --
              </option>
              <option v-for="option in getDepartments" :value="option.id">
                {{ option.name }}
              </option>
            </b-form-select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="role_name">Status</label>
            <b-form-select
              required
              v-model="status"
              :options="statusOptions"
            ></b-form-select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="role_name">Role</label>
            <b-form-select required v-model="role">
              <option :value="null" disabled>
                -- Please select an option --
              </option>
              <option v-for="option in getRoles" :value="option.id">
                {{ option.name }}
              </option>
            </b-form-select>
          </div>
          <div class="col-md-6 mb-3">
            <label>Unit</label>
            <b-form-select v-model="unit_id">
              <option :value="null" disabled>
                -- Please select an option --
              </option>
              <option v-for="option in getUnits" :value="option.id">
                {{ option.code_str }}
              </option>
            </b-form-select>
          </div>
          <div class="col-md-6 mb-3">
            <label>Occupation</label>
            <b-form-select required v-model="occupation_id">
              <option :value="null" disabled>
                -- Please select an option --
              </option>
              <option v-for="option in getOccupation" :value="option.id">
                {{ option.name }}
              </option>
            </b-form-select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="role_name">Is Received Email</label>
            <b-form-select
              required
              v-model="is_received_mail"
              :options="statusOptions"
            ></b-form-select>
          </div>
        </div>

        <b-button type="submit" variant="primary">
          <span v-if="mode == 'create'">Submit</span>
          <span v-if="mode == 'update'">Update</span>
        </b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  name: "user",
  data() {
    return {
      idSelected: 0,
      modalShow: false,
      mode: "create",
      titleModal: "",
      breadCrumbTitle: "",
      timeout: null,
      departmentShow: false,

      tablefields: [
        { key: "fullname", label: "Name", sortable: true },
        { key: "username", label: "Username", sortable: true },
        { key: "email", label: "Email", sortable: true },
        { key: "unit.code_str", label: "Unit", sortable: true },
        { key: "occupation.name", label: "Occupation", sortable: true },
        { key: "department.name", label: "Department", sortable: true },
        { key: "status", label: "Status", sortable: true },
        { key: "data_by", label: "Last Updated By", sortable: true },
        { key: "data_at", label: "Last Updated At", sortable: true },
        { key: "actions", label: "Actions" },
      ],

      statusOptions: [
        { value: 1, text: "Active" },
        { value: 2, text: "Non Active" },
      ],

      //add data
      name: "",
      username: "",
      email: "",
      status: "",
      role: "",
      unit_id: "",
      occupation_id: "",
      department_id: "",
      is_received_mail: ""
    };
  },
  computed: {
    ...mapState({
      page_options: (state) => state.user.page_options,
      current_page: (state) => state.user.current_page,
      last_page: (state) => state.user.last_page,
      filter: (state) => state.user.filter,
      message: (state) => state.user.message,
      message_type: (state) => state.user.message_type,
    }),
    ...mapGetters({
      getRoles: "role/getRoles",
      getDepartments: "department/getDepartments",
      getUnits: "unit/getUnits",
      getOccupation: "occupation/getOccupation",
      getUsers: "user/getUsers",
      getPerPage: "user/getPerPage",
      getTotalRows: "user/getTotalRows",
      getUser: "authentication/getUser",
    }),
  },
  created() {
    this.breadCrumbTitle = this.$route.meta.title;
  },
  mounted() {
    this.$store.dispatch("role/fetchRoles");
    this.$store.dispatch("unit/fetchUnits");
    this.$store.dispatch("occupation/fetchOccupation");
    this.$store.dispatch("department/fetchDepartments");
    this.getUserdata();
    this.totalRows = this.getUsers.length;

    //rebuild table field for admin adr role
    if (this.getUser.role_name == "admin-adr") {
      let tablefields = this.tablefields;
      let newTablefields = [];
      tablefields.forEach((el) => {
        if (el.key != "department.name") {
          newTablefields.push(el);
        }
      });

      this.tablefields = newTablefields;
    }
  },
  methods: {
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    addShow() {
      this.mode = "create";
      this.titleModal = "Create Data";
      this.modalShow = true;

      this.name = "";
      this.username = "";
      this.email = "";
      this.status = 1;
      this.role = "";
      this.unit_id = "";
      if (this.getUser.role_name == "admin-adr") {
        this.unit_id = this.getUnits[0].id;
        this.role = 3; //just operator
      }

      this.occupation_id = "";
      this.department_id = "";

      this.departmentShow = false;
      if (this.getUser.role_name == "super-admin") {
        this.departmentShow = true;
      }
    },
    updateShow(row) {
      this.mode = "update";
      this.titleModal = "Update Data";

      this.name = row.fullname;
      this.username = row.username;
      this.email = row.email;
      this.status = row.status;
      this.is_received_mail = row.is_received_mail;
      this.role = row.roles[0].id;

      this.unit_id = row.unit != null ? row.unit.id : "";
      this.department_id = row.department_id != null ? row.department_id : "";
      this.occupation_id = row.occupation != null ? row.occupation.id : "";

      this.idSelected = row.id;
      this.modalShow = true;

      this.departmentShow = false;
      if (this.getUser.role_name == "super-admin") {
        this.departmentShow = true;
      }
    },
    getUserdata(payload) {
      const { dispatch } = this.$store;
      if (typeof payload == "undefined") {
        payload = {
          page: 1,
          search: "",
          limit: this.getPerPage,
        };
      }

      dispatch("user/fetchUsers", payload);
    },
    handleDelete(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        showCancelButton: true,
        confirmButtonText: "Yes Delete It!",
        confirmButtonColor: "#4466f2",
        cancelButtonText: "Cancel",
        cancelButtonColor: "#4466f2",
      }).then((result) => {
        if (result.value) {
          const { dispatch } = this.$store;
          let payload = {
            id: id,
          };
          dispatch("user/delete", payload);
          this.showAlertSuccess("Delete Success");
        }
      });
    },
    validateBeforeSubmit() {
      this.mode == "create"
        ? this.handleSubmitAdd()
        : this.handleSubmitUpdate();
    },
    clearFilter() {
      this.$store.commit("user/changeFilter", "");
      let payload = {
        page: 1,
        search: this.filter,
        limit: this.getPerPage,
      };
      this.getUserdata(payload);
    },
    handleFilter(v) {
      clearTimeout(this.timeout);

      // Make a new timeout set to go off in 800ms
      this.timeout = setTimeout(() => {
        this.$store.commit("user/changeFilter", v);
        let payload = {
          page: 1,
          search: this.filter,
          limit: this.getPerPage,
        };
        this.getUserdata(payload);
      }, 800);
    },
    handleSubmitAdd(e) {
      this.submitted = true;
      const { dispatch } = this.$store;

      let payload = {
        name: this.name,
        username: this.username,
        email: this.email,
        status: this.status,
        role: this.role,
        unit_id: this.unit_id,
        occupation_id: this.occupation_id,
        department_id: this.department_id,
      };
      this.modalShow = false;

      dispatch("user/create", payload);
    },
    handleSubmitUpdate(e) {
      this.submitted = true;
      const { dispatch } = this.$store;
      let payload = {
        id: this.idSelected,
        name: this.name,
        username: this.username,
        email: this.email,
        status: this.status,
        role: this.role,
        unit_id: this.unit_id,
        occupation_id: this.occupation_id,
        department_id: this.department_id,
        is_received_mail: this.is_received_mail,
      };
      dispatch("user/update", payload);
      this.modalShow = false;
    },
    handlePageChange(value) {
      let payload = {
        page: value,
        search: this.filter,
        limit: this.getPerPage,
      };
      this.getUserdata(payload);
    },
    handlePageLimitChange(value) {
      this.$store.commit("user/changeLimitPage", value);
      let payload = {
        page: 1,
        search: "",
        limit: this.getPerPage,
      };
      this.getUserdata(payload);
    },
  },
  watch: {
    getUnits(newValue, oldValue) {
      if (this.getUser.role_name == "admin-adr") {
        this.unit_id = this.getUnits[0].id;
      }
    },
    message(newValue, oldValue) {
      this.showToast(this.message, this.message_type);
      this.$store.commit("user/clearMessage");
    },
  },
};
</script>